@using Finance.Web.Resources
@{
    ViewBag.Title = Resources.HomePageTitle;
}

<h2>@Resources.IndexWelcomeText</h2>
<p>
    @Html.Raw(@Resources.IndexText) @Html.ActionLink(@Resources.SampleGraphPageTitle, "GraphInput", "Graphs")	
</p>
@Html.Partial("_GraphsSelection")

<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
<p>@Resources.FunctionsChaptersInformation</p>
@Html.Partial("_FunctionsSelection")
