<div class="col-main">
	<div class="module-chapters">
		<div class="chapter-box">
			<h2>@Resources.FunctionsChaptersLabel</h2>
			<ol>
				<li>
					<a href="@Url.Content("~/Graphs/FunctionDescription?functionType=Min")" class="selected">
						<span class="chap-num2">1.</span>
						<span class="chap-title2">@Resources.FunctionTypeMinLabel</span>
					</a>
				</li>
				<li>
					<a href="@Url.Content("~/Graphs/FunctionDescription?functionType=Max")" >
						<span class="chap-num">2.</span>
						<span class="chap-title">@Resources.FunctionTypeMaxLabel</span>
					</a>
				</li>
				<li>
					<a href="@Url.Content("~/Graphs/FunctionDescription?functionType=Sma")" >
						<span class="chap-num">3.</span>
						<span class="chap-title">@Resources.FunctionTypeSmaLabel</span>
					</a>
				</li>
				<li>
					<a href="@Url.Content("~/Graphs/FunctionDescription?functionType=Ema")" >
						<span class="chap-num">4.</span>
						<span class="chap-title">@Resources.FunctionTypeEmaLabel</span>
					</a>
				</li>
				<li>
					<a href="@Url.Content("~/Graphs/FunctionDescription?functionType=Rsi")" >
						<span class="chap-num">5.</span>
						<span class="chap-title">@Resources.FunctionTypeRsiLabel</span>
					</a>
				</li>
					<li>
					<a href="@Url.Content("~/Graphs/FunctionDescription?functionType=Cci")" >
						<span class="chap-num">6.</span>
						<span class="chap-title">@Resources.FunctionTypeCciLabel</span>
					</a>
				</li>
				<li>
					<a href="@Url.Content("~/Graphs/FunctionDescription?functionType=Stochastic")" >
						<span class="chap-num">7.</span>
						<span class="chap-title">@Resources.FunctionTypeStochasticOscillatorLabel</span>
					</a>
				</li>
				</li>
					<li>
					<a href="@Url.Content("~/Graphs/FunctionDescription?functionType=Moneyflow")" >
						<span class="chap-num">8.</span>
						<span class="chap-title">@Resources.FunctionTypeMoneyflowLabel</span>
					</a>
				</li>
				<li>
					<a href="@Url.Content("~/Graphs/FunctionDescription?functionType=Bollinger")">
						<span class="chap-num2">9.</span>
						<span class="chap-title2">@Resources.FunctionTypeBollingerLabel</span>
					</a>
				</li>
			</ol>
		</div>
	</div>
</div>
