<div class="col-main">
	<div class="module-chapters">
		<div class="chapter-box">
			<h2>@Resources.GraphsChapters</h2>
			<ol>
				<li>
					<a href="@Url.Content("~/Graphs/GraphDescription?graphType=Bars")" class="selected">
						<span class="chap-num">1.</span>
						<span class="chap-title">@Resources.GraphTypeBarsLabel</span>
					</a>
				</li>
				<li>
					<a href="@Url.Content("~/Graphs/GraphDescription?graphType=Candles")">
						<span class="chap-num">2.</span>
						<span class="chap-title">@Resources.GraphTypeCandlestickLabel</span>
					</a>
				</li>
				<li>
					<a href="@Url.Content("~/Graphs/GraphDescription?graphType=Linear")">
						<span class="chap-num">3.</span>
						<span class="chap-title">@Resources.GraphTypeLinearLabel</span>
					</a>
				</li>
				<li>
					<a href="@Url.Content("~/Graphs/GraphDescription?graphType=Volume")">
						<span class="chap-num">4.</span>
						<span class="chap-title">@Resources.GraphTypeVolumeLabel</span>
					</a>
				</li>
			</ol>
		</div>
	</div>
</div>