@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/_Simple_Layout.cshtml";
}

<h2>Test DDL</h2>

 <ul>
     <li><a href="@Url.Content("~/HTML_SelectList.htm")"> HTML SelectList</a></li>
     <li><a href="@Url.Content("~/Home/SelectCategory")">Select Movie Category (Simple)</a></li>
     <li><a href="@Url.Content("~/Home/SelectCategoryEnum")">Select Movie Category (Enum)</a></li>
     <li><a href="@Url.Content("~/Home/SelectCategoryEnumPost")">Select Movie Category (Enum Post)</a></li>
     <li><a href="@Url.Content("~/Home/MultiSelectCountry")">Multi Select Country</a></li>
     <li><a href="@Url.Content("~/Home/MultiCountryVM")">Multi Select Country VM</a></li>
 </ul>        
