@model MsSqlCe.Models.Manga

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Manga</legend>

        @Html.HiddenFor(model => model.id)

        <div class="editor-label">
            @Html.LabelFor(model => model.title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.title)
            @Html.ValidationMessageFor(model => model.title)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.mangaka)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.mangaka)
            @Html.ValidationMessageFor(model => model.mangaka)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.pages)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.pages)
            @Html.ValidationMessageFor(model => model.pages)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
