@model IEnumerable<VirtueBuild.Domain.Lookups.UnitOfMeasure>

<h2>Unit of Measure Types:</h2>
<div>
    <button id="MeasureType" class="btn create">Add New Unit Type</button>
</div>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsMetric)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsMetric)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {id = item.Id}) |
            
                @Html.ActionLink("Delete", "Delete", new {id = item.Id})
            </td>
        </tr>
    }

</table>